.Epul-container{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none ;

}
.Epitem-container{
    display: flex;
    flex-direction: column;
  
    padding: 30px;
    border: 2px solid  black;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
  

}
.Ep-button1{
    height:40px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(78, 78, 201);
}

.Ep-button1:hover{
    background-color: gold;


}

.Ep-button12{
    height:30px;
    width: 50px;
  
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(78, 78, 201);
}

.Ep-button12:hover{
    background-color: gold;


}
.ep-checkbox1{
  height: 20px;
  width: 20px;
}

.Ep-card1{
    background-color: gold;
    width:280px;
   
    border-radius: 10px;
    justify-items: center;
    margin:30px;
   
    
    
}

.Ep-card1:hover {
    background-color: rgb(87, 89, 214);
    
  }
.Ep-head1{
    background-color: aliceblue;
    width:80px;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
font-family: "roboto";
    
}
.Ep-span1{
    height:40px;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    text-decoration: none;
   border-radius: 10px;
}
.Ep-head3{
text-align: center;
font-size: 40px;
font-weight: bold;
margin-top: 20px;
font-family: "roboto";
}