.Ln-card1{
    background-image: url("https://tipsmake.com/data/thumbs/beautiful-technology-background-thumb-VMxfTZndB.jpg");
    margin: 20px;
    color:white;
}
.Ln-img1{
    height:550px;
    width: 700px;
    margin-right: 50px;
    
}

.Ln-card21{
    background-color: transparent;
    width:600px;
    margin: 100px;
    padding-top: 26px;

}

.Ln-head1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    font-family: "roboto";
 }
.Ln-inputbox{
    height:50px;
    width:400px;
    border-radius: 5px;
    background-color:white;
    margin-top: 5px;
    
}