.Nav1{
    padding-left: 50px;
}
.tittle1{
color: white;
padding: 7px 13px;
border-radius: 3px;


}
.tittle1:hover{
    background-color:#f5d02d;
    transition: .5s;

}
.span20{
    font-weight: bold;
    font-size: large;
}